@import url('https://fonts.googleapis.com/css?family=Roboto');
/* make sure to select a new google font and use it for your header */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}
html{
    font-size: 20px;
    line-height: 1.5;
    font-family: Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
main{
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #aaa;
}
header{
    background-image: url("../img/derek-story-1062080-unsplash.jpg");
    background-size: 100%;
    background-position: left bottom;
    position: relative;
    min-height: 12rem;
    padding: 1rem;
}

header h1{
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: rgba(232,84,84, 0.7);
    text-shadow: 2px 2px 4px #835A59;
}

header h1 span:first-child {
    color: #fff;
}
header img{
    width: 80px;
    /* float: left; */
    max-width: 100px;
}
form{
    padding: 1rem 1rem 2rem;
}
.form-box{
    padding: 0.25rem 0 1rem;
}
label{
    display: block;
    margin: 0;
    font-size: 1rem;
    color: #025AA3;
}
input {
    margin:0;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    width: 100%;
    color: #025AA3;
}

::placeholder {
    color: #7491C0;
    padding: 0;
}
input[type="date"]::placeholder { 
    content: attr(data-placeholder);
    color: #025AA3;
	width: 100%;
}

input#min.price::after,
input.price#max::after{
    content: "$" attr(data-price);
    display: block;
    margin-top: -1.5rem;
    color: #835A59;
}

.price {
    -webkit-appearance: none;
    background: #025AA3;
    height: 1px;
}

.search-btn{
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.25rem 1rem;
    background-color:#025AA3;
    color: #fff;
}
@media all and (min-width:500px){
    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form-box{
        flex-basis: 100%;
    }
    .form-box.check-in,
    .form-box.check-out,
    .form-box.min-price,
    .form-box.max-price,
    .form-box.dogs,
    .form-box.search{
        flex-basis: 50%;
    }
    .form-box.search{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:flex-end;
    }
    .form-box.dogs,
    .form-box.min-price,
    .form-box.max-price{
        padding-right: 1rem;
    }

    header h1{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
    }
    header img{
        position: absolute;
        top: 1rem;
        left: 1rem;
        /* width: 15%; */
    }
}
@media all and (min-width:450px){
    header {
        background-position-y: center; 
    }
}
@media all and (min-width:1000px){
    main{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        max-width: 1200px;
    }
    header{
        /* background-image: url("../img/derek-story-1062080-unsplash_cropped.jpg"); */
        flex-basis: 30%;
        background-size: cover;
        background-position: right top;
    }
    header img, header h1 {
        position: static;
        float: none;
    }
    header img{
        width: 50%;
        margin-bottom: 0rem;
     }
    
    form{
        flex-basis: 70%;
    }
}